.input {
  text-align: center;
  padding: 20px;
}
#table-wrapper {
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}
#table-headers {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
#table-data {
  max-height: 475px;
  overflow-y: overlay;
}

@-moz-document url-prefix() {
  #table-data {
    overflow-y: scroll;
  }
}

#table-data tr {
  cursor: pointer;
}

#table-data tr:nth-child(even) {
  background-color: #f1f1f1;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
}

th {
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}
th:first-child {
  padding-right: 40px;
}

td {
  font-size: 16px;
  color: #808080;
  line-height: 1.4;
  padding-top: 6px;
  padding-bottom: 6px;
}

.column1 {
  width: 170px;
}

.column2 {
  width: 70px;
}

.column3 {
  width: 70px;
}
.column4 {
  width: 70px;
}

button {
  border: 1px solid green;
  color: green;
  background-color: white;
  margin-top: 21px;
  cursor: pointer;
  padding: 10px;
  width: 150px;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 1px;
}
button:hover {
  margin-top: 20px;
  border: 2px solid green;
  color: green;
  font-size: 15px;
  margin-bottom: 0px;
}
